<!DOCTYPE html>
<html>
  <head>
    <title>Invenstment Study</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Investment Study</title>
  </head>

<body>
  <!--Upper menu navigation-->

  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainnav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Investment Study</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

<!--이거 메뉴 안으로 넣냐 -->
        <h1>Study Materials</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user?id=jongwon">종원</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user?id=jungseok">정석</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user?id=wihak">위학</a></li>
        </ul>
    </div>
  </nav>

<!-- 제목, 목차마다 하나씩 크기 다르게 하려면 How?-->
<h2>재테크 스터디 3기 회칙</h2>
<pre>
 1. 형식

- 1) 인원: 4~6명
- 2) 시간: 월요일 저녁 9시(1시간)
- 3) 벌금
    - 발표자 결석
        - 3만원
        - 3회 이상 모임 추방
        - 예외) 사회 통념상 인정하는 경조사 OK
        - 예외) 대체자를 구해 일주일 전 공지
    - 결석 만원
        - 휴가에도 동일하게 만원 적용
    - 공결
        - 야근으로 인한 결석(인증샷 필요)
        - 출장 자체로 공결이 인정되지 않음
            - 시차, 연장업무 등으로 일하는 중에만 공결 인정(인증 필요)
    - 지각은 10분에 2000원(올림)
- 5) 인원 모집 방식
    - 경제활동을 하는 사람, 36세 이하, 지인 우선, 플렛폼 이용

  2. 발표

- 1) 발표 형식
    - 정기 발표: 1명(온라인)
    - 분기 발표: 분기별 투자 리포트 공유**(오프라인)+회식**
- 2) 정기 발표 컨텐츠
    - 본인 투자 히스토리
        - 투자 발생 O(자산 이동 포함)
            - 투자의 이유, 기업의 가치 등에 대한 분석
        - 투자 발생 X
            - 투자를 하지 않은 이유 공유
        - 발표주제 일주일 전 공지
        - 발표자료 일요일 오후 6시까지 업로드
        - 1 page → 1 comment & 1 presentation → 1 summary
        - For 뉴비
            - 발표 전 Q&A (20분)
            - 한사이클
    - 그 외
        - 경제학 개념, 시장 동향
    - notion에 자료 업로드
- 3) 분기 발표 컨텐츠
    - 투자 자산 현황 공유
    - 투자 성과(수익률) 공유

- 4) 피드백
    - 점수 + 코멘트
        - 결석자를 포함한 모든 사람이 점수와 코멘트를 남김
        - 점수: 10점 만점의 합
    - ~~코멘트 모임장에게 취합 → 익명으로 전달~~
    - 직접 notion에 코멘트
    - 결석자 코멘트
        - **결석자**는 화요일 오후 8시까지 의무적으로 하나 이상의 질문을 남겨야함
        - **발표자**는 목요일 오후 8시까지 답변을 해줌
    - 우수 세미나
        - 1등 5만원/cycle

 3. 주제

- 투자 대상
    - 미국 주식
    - 채권
    - 안전 자산(달러, 금 등)
- 국제 동향도 세미나에 다뤄도 무관함
- 투자 방식은 무관
    - 배당/ETF/인덱스/가치투자 등등
- **묻지마 투자 지양**

</pre>



</body>


</html>
