<!DOCTYPE html>
<html>

<head>
  <title>Jongwon Study Materials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Investment Study</title>

</head>

<body>
  <!--Upper menu navigation-->

  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainnav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Investment Study</a><button
        class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- file Upload section-->
        <h1>File upload for jungseok</h1>
        <form action="/uploads" , method="post" , enctype="multipart/form-data">
          <div class="filebox">
            <label for="ex_file">Upload</label>
            <input type="file" name="jungseok" />
            <input type="submit" />
          </div>
        </form>
        <hr>
        <% for (var i = 0; i<length; i++) { %>

        <a href=<%=path+title[i]%> download> <%=title[i]%> </a>
            <p><%=description[i]%></p>
        <hr>
        <% } %>
        <ul> how to dynamically read files and update</ul>
</body>
</html>